.divclass1{position:relative;width: 330px;height:250px;border:1px solid black;margin-left: 50px;padding: 10px}

.container13{position:absolute;float: left;margin-top:0px;margin-left:5px;}
.container14{position:absolute;float: left;margin-top:0px;margin-left:36px;}
.container15{position:absolute;float: left;margin-top:0px;margin-left:67px;}
.container16{position:absolute;float: left;margin-top:0px;margin-left:98px;}
.container17{position:absolute;float: left;margin-top:0px;margin-left:129px;}
.container18{position:absolute;float: left;margin-top:0px;margin-left:160px;}
.container19{position:absolute;float: left;margin-top:0px;margin-left:191px;}
.container20{position:absolute;float: left;margin-top:0px;margin-left:222px;}
.container21{position:absolute;float: left;margin-top:0px;margin-left:253px;}
.num1{position: absolute;font-size: 12px;margin-left: 290px;margin-top: 5px}

.container25{position:absolute;float: left;margin-top:22px;margin-left:5px;}
.container26{position:absolute;float: left;margin-top:22px;margin-left:36px;}
.container27{position:absolute;float: left;margin-top:22px;margin-left:67px;}
.container28{position:absolute;float: left;margin-top:22px;margin-left:98px;}
.container29{position:absolute;float: left;margin-top:22px;margin-left:129px;}
.container30{position:absolute;float: left;margin-top:22px;margin-left:160px;}
.container31{position:absolute;float: left;margin-top:22px;margin-left:191px;}
.container32{position:absolute;float: left;margin-top:22px;margin-left:222px;}
.container33{position:absolute;float: left;margin-top:22px;margin-left:253px;}
.num2{position: absolute;font-size: 12px;margin-left: 290px;margin-top:26px}


.container37{position:absolute;float: left;margin-top:44px;margin-left:5px;}
.container38{position:absolute;float: left;margin-top:44px;margin-left:36px;}
.container39{position:absolute;float: left;margin-top:44px;margin-left:67px;}
.container40{position:absolute;float: left;margin-top:44px;margin-left:98px;}
.container41{position:absolute;float: left;margin-top:44px;margin-left:129px;}
.container42{position:absolute;float: left;margin-top:44px;margin-left:160px;}
.container43{position:absolute;float: left;margin-top:44px;margin-left:191px;}
.container44{position:absolute;float: left;margin-top:44px;margin-left:222px;}
.container45{position:absolute;float: left;margin-top:44px;margin-left:253px;}
.num3{position: absolute;font-size: 12px;margin-left: 290px;margin-top:48px}


.container49{position:absolute;float: left;margin-top:66px;margin-left:5px;}
.container50{position:absolute;float: left;margin-top:66px;margin-left:36px;}
.container51{position:absolute;float: left;margin-top:66px;margin-left:67px;}
.container52{position:absolute;float: left;margin-top:66px;margin-left:98px;}
.container53{position:absolute;float: left;margin-top:66px;margin-left:129px;}
.container54{position:absolute;float: left;margin-top:66px;margin-left:160px;}
.container55{position:absolute;float: left;margin-top:66px;margin-left:191px;}
.container56{position:absolute;float: left;margin-top:66px;margin-left:222px;}
.container57{position:absolute;float: left;margin-top:66px;margin-left:253px;}
.num4{position: absolute;font-size: 12px;margin-left: 290px;margin-top:70px}


.container61{position:absolute;float: left;margin-top:88px;margin-left:5px;}
.container62{position:absolute;float: left;margin-top:88px;margin-left:36px;}
.container63{position:absolute;float: left;margin-top:88px;margin-left:67px;}
.container64{position:absolute;float: left;margin-top:88px;margin-left:98px;}
.container65{position:absolute;float: left;margin-top:88px;margin-left:129px;}
.container66{position:absolute;float: left;margin-top:88px;margin-left:160px;}
.container67{position:absolute;float: left;margin-top:88px;margin-left:191px;}
.container68{position:absolute;float: left;margin-top:88px;margin-left:222px;}
.container69{position:absolute;float: left;margin-top:88px;margin-left:253px;}
.num5{position: absolute;font-size: 12px;margin-left: 290px;margin-top:92px}


.block{position:absolute;width: 285px;height: 2px;background: #C86400;border: 1px solid black;margin-top: 110px}

.box2{position:absolute;float: left;margin-top:112px;margin-left:36px;}
.box3{position:absolute;float: left;margin-top:112px;margin-left:67px;}
.box4{position:absolute;float: left;margin-top:112px;margin-left:98px;}
.box5{position:absolute;float: left;margin-top:112px;margin-left:129px;}
.box6{position:absolute;float: left;margin-top:112px;margin-left:160px;}
.box7{position:absolute;float: left;margin-top:112px;margin-left:191px;}
.box8{position:absolute;float: left;margin-top:112px;margin-left:222px;}
.num6{position: absolute;font-size: 12px;margin-left: 290px;margin-top:114px}


.box14{position:absolute;float: left;margin-top:134px;margin-left:36px;}
.box15{position:absolute;float: left;margin-top:134px;margin-left:67px;}
.box16{position:absolute;float: left;margin-top:134px;margin-left:98px;}
.box17{position:absolute;float: left;margin-top:134px;margin-left:129px;}
.box18{position:absolute;float: left;margin-top:134px;margin-left:160px;}
.box19{position:absolute;float: left;margin-top:134px;margin-left:191px;}
.box20{position:absolute;float: left;margin-top:134px;margin-left:222px;}
.num7{position: absolute;font-size: 12px;margin-left: 290px;margin-top:136px}


.box26{position:absolute;float: left;margin-top:156px;margin-left:36px;}
.box27{position:absolute;float: left;margin-top:156px;margin-left:67px;}
.box28{position:absolute;float: left;margin-top:156px;margin-left:98px;}
.box29{position:absolute;float: left;margin-top:156px;margin-left:129px;}
.box30{position:absolute;float: left;margin-top:156px;margin-left:160px;}
.box31{position:absolute;float: left;margin-top:156px;margin-left:191px;}
.box32{position:absolute;float: left;margin-top:156px;margin-left:222px;}
.num8{position: absolute;font-size: 12px;margin-left: 290px;margin-top:158px}


.box38{position:absolute;float: left;margin-top:178px;margin-left:36px;}
.box39{position:absolute;float: left;margin-top:178px;margin-left:67px;}
.box40{position:absolute;float: left;margin-top:178px;margin-left:98px;}
.box41{position:absolute;float: left;margin-top:178px;margin-left:129px;}
.box42{position:absolute;float: left;margin-top:178px;margin-left:160px;}
.box43{position:absolute;float: left;margin-top:178px;margin-left:191px;}
.box44{position:absolute;float: left;margin-top:178px;margin-left:222px;}
.num9{position: absolute;font-size: 12px;margin-left: 290px;margin-top:180px}

.row1{position: absolute;font-size: 12px;margin-top:202px;margin-left:15px; }
.row2{position: absolute;font-size: 12px;margin-top:202px;margin-left:45px; }
.row3{position: absolute;font-size: 12px;margin-top:202px;margin-left:75px; }
.row4{position: absolute;font-size: 12px;margin-top:202px;margin-left:105px; }
.row5{position: absolute;font-size: 12px;margin-top:202px;margin-left:135px; }
.row6{position: absolute;font-size: 12px;margin-top:202px;margin-left:168px; }
.row7{position: absolute;font-size: 12px;margin-top:202px;margin-left:200px; }
.row8{position: absolute;font-size: 12px;margin-top:202px;margin-left:230px; }
.row9{position: absolute;font-size: 12px;margin-top:202px;margin-left:260px; }

.bay{position: absolute;font-size: 14px;color: #b92c28;margin-left: 120px;margin-top: 220px}

/*<-------------------------------------------------------------------------------------------------------------->*/

.divclass2{position:relative;width: 330px;height:250px;border:1px solid black;margin-left: 450px;padding: 10px;margin-top: -250px}

.container38_2{position:absolute;float: left;margin-top:44px;margin-left:36px;}
.container39_2{position:absolute;float: left;margin-top:44px;margin-left:67px;}
.container40_2{position:absolute;float: left;margin-top:44px;margin-left:98px;}
.container41_2{position:absolute;float: left;margin-top:44px;margin-left:129px;}
.container42_2{position:absolute;float: left;margin-top:44px;margin-left:160px;}
.container43_2{position:absolute;float: left;margin-top:44px;margin-left:191px;}
.container44_2{position:absolute;float: left;margin-top:44px;margin-left:222px;}


.container50_2{position:absolute;float: left;margin-top:66px;margin-left:36px;}
.container51_2{position:absolute;float: left;margin-top:66px;margin-left:67px;}
.container52_2{position:absolute;float: left;margin-top:66px;margin-left:98px;}
.container53_2{position:absolute;float: left;margin-top:66px;margin-left:129px;}
.container54_2{position:absolute;float: left;margin-top:66px;margin-left:160px;}
.container55_2{position:absolute;float: left;margin-top:66px;margin-left:191px;}
.container56_2{position:absolute;float: left;margin-top:66px;margin-left:222px;}


.container62_2{position:absolute;float: left;margin-top:88px;margin-left:36px;}
.container63_2{position:absolute;float: left;margin-top:88px;margin-left:67px;}
.container64_2{position:absolute;float: left;margin-top:88px;margin-left:98px;}
.container65_2{position:absolute;float: left;margin-top:88px;margin-left:129px;}
.container66_2{position:absolute;float: left;margin-top:88px;margin-left:160px;}
.container67_2{position:absolute;float: left;margin-top:88px;margin-left:191px;}
.container68_2{position:absolute;float: left;margin-top:88px;margin-left:222px;}


.box4_2{position:absolute;float: left;margin-top:112px;margin-left:98px;}
.box5_2{position:absolute;float: left;margin-top:112px;margin-left:129px;}
.box6_2{position:absolute;float: left;margin-top:112px;margin-left:160px;}


.box17_2{position:absolute;float: left;margin-top:134px;margin-left:129px;}


.box29_2{position:absolute;float: left;margin-top:156px;margin-left:129px;}

.box41_2{position:absolute;float: left;margin-top:178px;margin-left:129px;}




