{% extends 'base.html' %}

{% include 'nav.html' %}

{% block page-main %}

    <h1 class="page-header" style="margin-top: 30px">洋山四期自动化集装箱码头
        <small>贝位配载切面图</small>
    </h1>

    <!--面板 开始-->
    <div class="panel panel-primary" onmousewheel="return bbimg(this)">
        <div class="panel-heading">贝位贝内层信息</div>
        <div class="panel-body" >
            <div class="divclass1" >
                <div class="container13">
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN13"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container14">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN14"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container15">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN15"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container16">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN16"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container17">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN17"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container18">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN18"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container19">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN19"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container20">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN20"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container21">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN21"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num1">90</div>

                <div class="container25">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN25"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container26">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN26"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container27">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN27"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container28">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN28"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container29">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN29"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container30">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN30"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container31">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN31"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container32">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN32"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container33">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN33"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num2">88</div>

                <div class="container37">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN37"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container38">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN38"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container39">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN39"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container40">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN20"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container41">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN41"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container42">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN42"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container43">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN43"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container44">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN44"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container45">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN45"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num3">86</div>
                <div class="container49">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN49"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container50">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN50"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container51">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN51"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container52">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN52"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container53">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN53"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container54">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN54"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container55">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN55"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container56">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN56"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container57">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN57"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num4">84</div>

                <div class="container61">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN61"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container62">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN62"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container63">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN63"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container64">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN64"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container65">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN65"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container66">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN66"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container67">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN67"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container68">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN68"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container69">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN69"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num5">82</div>
                <div class="block"></div>
                <div class="box2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px;" type="button" class="btn btn-info" id="btn2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box3">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn3"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box4">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn4"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box5">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn5"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box6">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn6"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>

                <div class="box7">
                    <!-- Button trigger modal -->

                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn7"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box8">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn8"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num6">08</div>
                <div class="box14">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn14"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box15">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn15"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box16">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn16"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box17">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn17"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box18">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn18"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box19">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn19"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box20">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn20"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num7">06</div>
                <div class="box26">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn26"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box27">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn27"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box28">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn28"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box29">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn29"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box30">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn30"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box31">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn31"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box32">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn32"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num8">04</div>
                <div class="box38">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn38"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box39">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn39"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box40">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn20"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box41">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn41"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box42">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn42"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box43">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn43"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box44">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn44"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num9">02</div>
                <div class="row1">08</div>
                <div class="row2">06</div>
                <div class="row3">04</div>
                <div class="row4">02</div>
                <div class="row5">00</div>
                <div class="row6">01</div>
                <div class="row7">03</div>
                <div class="row8">05</div>
                <div class="row9">07</div>
                <div class="bay">BAY xx</div>

            </div>
            <div class="divclass2">


                <div class="num1">90</div>

                <div class="num2">88</div>

                <div class="container38_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN38_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container39_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN39_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container40_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN40_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container41_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN41_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container42_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN42_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container43_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN43_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container44_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN44_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num3">86</div>
                <div class="container50_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN50_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container51_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN51_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container52_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN52_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container53_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN53_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container54_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN54_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container55_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN55_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container56_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN56_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num4">84</div>

                <div class="container62_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN62_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container63_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN63_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container64_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN64_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container65_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN65_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container66_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN66_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container67_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN67_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="container68_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="BTN68_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num5">82</div>

                <div class="block"></div>

                <div class="box4_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn4_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box5_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn5_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="box6_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn6_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>


                <div class="num6">08</div>

                <div class="box17_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn17_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num7">06</div>

                <div class="box29_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn29_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num8">04</div>

                <div class="box41_2">
                    <!-- Button trigger modal -->
                    <button style="width:30px;height: 20px" type="button" class="btn btn-info" id="btn41_2"></button>
                    <!-- Modal -->
                    {% include 'button_style.html' %}
                    <!-- /.modal-content -->
                </div>
                <div class="num9">02</div>
                <div class="row1">08</div>
                <div class="row2">06</div>
                <div class="row3">04</div>
                <div class="row4">02</div>
                <div class="row5">00</div>
                <div class="row6">01</div>
                <div class="row7">03</div>
                <div class="row8">05</div>
                <div class="row9">07</div>
                <div class="bay">BAY 01</div>

            </div>

        </div>
        <!--面板body 结束-->
    </div>
    <!--面板 结束-->
{% endblock %}



{% block part_bay %}
    active
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" href="/static/container.css">
{% endblock %}


{% block page-js %}
    <script src="/static/button_color.js"></script>
{#    <script src="/static/wheel.js"></script>#}
{% endblock %}

